<div class="container">
  <div class="mt-5">
    <button (click)="confirmWarning()">Open Modal(confirm warning)</button>
  </div>

  <div class="mt-5">
    <button (click)="confirmInfo()">Open Modal(confirm info)</button>
  </div>

  <div class="mt-5">
    <button (click)="openModalDefault()">Open Modal(default)</button>
  </div>

  <div class="mt-5">
    <button (click)="openModalCenter()">Open Modal(Center)</button>
  </div>

  <div class="mt-5">
    <button (click)="openModalRight()">Open Modal(Right)</button>
  </div>

  <div class="mt-5">
    <button (click)="openModalLeft()">Open Modal(Left)</button>
  </div>

  <div class="mt-5">
    <button (click)="openCustomModal()">Open Modal(Custom Body)</button>
  </div>
</div>



